.flex-col.mb-10.rounded-md.shadow-xl.bg-white.divide-y.text-gray-600.dark:bg-gray-800.dark:divide-y.dark:divide-gray-600.dark:text-white.dark:border.dark:border-gray-700
  .flex.justify-between.p-1.text-sm.px-5.py-2.items-center
    .text-xs.font-semibold = @post.user.username
    .text-gray-400.text-xs = time_ago_in_words(@post.created_at)
  /.py-8.py-16.py-32
  .px-10.text-center class=(post_content_style(@post.content))
    = @post.content
  .flex.justify-between.p-3.text-xs
    | 💗 2 Likes     ☁️ 10 Comments
    .menu
      i.fa-solid.fa-ellipsis
