p Hola!,

p Solicitaste el enlace magico de ingreso. Aquí lo tienes:

= link_to "Ingresar sin contraseña", edit_sessions_passwordless_url(sid: @signed_id)

hr

p ¿Tienes preguntas o necesitas ayuda? Solo responde a este correo y nuestro equipo de soporte te ayudara a resolverlo.
