@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

main::-webkit-scrollbar {
  width: .4em;
}
 
main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
main::-webkit-scrollbar-thumb {
  background-color: rgb(124, 124, 124);
  outline: 1px solid slategrey;
  border-radius: 1em;
}


@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
